.subir-img input {
  visibility: hidden;
}

.subir-img div:hover {
  background: rgb(187, 14, 202);
  cursor: pointer;
  scale: 1.01;
}
.add-insumo-section {
  display: flex;
  gap: 15px;
}
.subir-img div {
  display: flex;
  position: absolute;
  top: -10px;
  right: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background: #000;
  justify-content: center;
  transition: 0.2s ease-in-out;
  height: 45px;
  color: white;
  align-content: center;
  margin-top: 3px;
  position: relative;
  transition: 0.2s ease-in-out;
  bottom: 0;
  border-radius: 0.1rem;
}
