.contenedorCitas{
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin-top: 50px;
}

.video{
  width: 500px;
}

.citas{
  padding-top: 170px;
  padding-left: 50px;
}

.citas span{
  font-size: 70px;
  color: black;
  font-weight: bold;
}

.citas p, h2{
  color: black;
}

.citas p{
  font-weight: bold;
}

.separacionCitas{
  background-color: rgb(187, 14, 202);
  width: 100px;
  height: 5px;
  position: relative;
  bottom: 20px;
  right: 30px;
}

/*BOTON*/
.btnAsesor {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  color: ghostwhite;
  margin-top: 50px;
  background-color: rgb(187, 14, 202);
}

.btnAsesor span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  color: white;
  font-size: 20px;
}

.btnAsesor:hover span {
  color: rgb(255, 255, 255);
}

.btnAsesor::before,
.btnAsesor::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.btnAsesor::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btnAsesor:hover::before {
  transform: translate3d(100%, 0, 0);
}