@media only screen and (min-width: 600px) {
  .nav {
    display: flex;
    background: #111;
    min-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    min-height: 3rem;
    max-height: 5rem;
    padding: 0 0rem;
  }
  .nav li {
    cursor: pointer;
    gap: 20px;
    list-style: none;
  }
}
